@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html, body {
  margin: 0;
  background-color: #0C141C;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  height: 100%;
}

h1 {
  font-size: 15rem;
  margin: 0;
  color: #FFFFFF;
}

h2 {
  font-size: 5rem;
  margin: 0;
  color: #FFFFFF;
}

h3 {
  font-size: 3rem;
  color: #FFF;
  margin: 0;
}

span {
  font-size: 2rem;
  color: #FFFFFF;
}

span.register-text {
  font-size: 1.6rem;
}

main {
  width: 100%;
}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

input {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;

  outline: none;
  padding: 20px;
  background: #FFFFFF;
  border: 3px solid #AFAFAF;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 0.75rem 1.5rem;

  margin-bottom: 2rem;
}

select {
  width: 40rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;

  padding: 1rem 2rem;
  margin-top: 3rem;
  border-radius: 5rem;
  border: 3px solid #B272F2;
  color: #B272F2;
  background: #fff;
}

select:focus {
  outline: 0;
}

.sidebar {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 30px;
  padding-right: 30px;

  background: linear-gradient(180deg, #B272F2 0%, #6D8EF2 100%);
}

.sidebar-sm {
  width: 300px!important;
  height: calc(100vh - 5.75rem);
}

.container {
  display: flex;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5.75rem);

  padding: 0 3rem;
}

.justify-center {
  justify-content: center!important;
}

.align-center {
  align-items: center!important;
}

.title {
  font-size: 5rem;
  margin-top: 2rem;
}

#user-name {
  font-size: 15rem;
  font-weight: bold;
}

.text-gradient {
  background: -webkit-linear-gradient(#B272F2, #6D8EF2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purple-button {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  width: 20rem;
  height: 5rem;
  color: white;
  font-weight: 500;
  background: linear-gradient(180deg, #B272F2 0%, #6D8EF2 100%);
  border-radius: 100px;
  cursor: pointer;

  border: none;
  outline: none;
  margin-bottom: 1rem;

  transition: filter 0.2s;
}

.purple-button:hover {
  transition: filter 0.2s;
  filter: brightness(150%);
}

.purple-button a {
  text-decoration: none;
  color: #fff;
}

.text-dark {
  color: #0C141C!important;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.search-box {
  margin-top: 2rem;
  border: 3px solid #B272F2;
}

.list {
  margin-bottom: 2rem;
}

.white-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 1rem 1rem;

  border-radius: 2rem;
  width: 70rem;
  background: #FFF;

  margin: 1.5rem;
}

.white-card > input {
  margin: auto 0;
  width: 100%;
  border: none;
}

.purple-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 1rem 1rem;

  border-radius: 2rem;
  width: 70rem;
  background: linear-gradient(180deg, #B272F2 0%, #6D8EF2 100%);

  margin: 1.5rem;
}

.purple-card > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.purple-card > .left > * {
  margin-right: 1rem;
}

.task-icons {
  margin-left: 2rem;
  cursor: pointer;
  font-size: 2.4rem;
}

.add-icon {
  margin-left: 2rem;
  font-size: 3rem;
  color: #B272F2;
  cursor: pointer;
}

.checkbox {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid #AFAFAF;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

.checkbox:checked {
  border: 3px solid #FFF;
  background: linear-gradient(180deg, #63F2B0 0%, #1ED9D9 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.navbar div {
  display: flex;
}

.nav-item {
  font-size: 3rem;
  margin-left: 2rem;
}

.nav-item a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}
